<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
<meta name="msapplication-config" content="{{ site.baseurl }}/browserconfig.xml">
<meta name="apple-mobile-web-app-title" content="Verron.pro">
<meta name="application-name" content="Verron.pro">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#000000">
<!-- Caring-Coder custom stylesheet -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
{% include head/structured-data.html %}
